service vendor.qti.vibrator /vendor/bin/hw/vendor.qti.hardware.vibrator.service
    class late_start
    user system
    group system input

on boot
    write /sys/class/leds/vibrator/trigger "transient"
